@import '../../styling';

.introduction-header {
    text-align: center;
    position: relative;
    background-color: $speco-white;
    padding: 0.625rem 0;
    border-radius: 1.25rem;

    @include from-medium() {
        margin: 5rem auto 0;
    }

    .brief-vision {
        padding: 0 1.56rem;
        h3 {
            font-size: 1.875rem;
            margin: 3.125rem 0 0;
            font-weight: 600;
        }
        .summary {
            font-size: 1.125rem;
            margin-top: 0.3125rem;
        }
    }

    .icon-icon-vision {
        font-family: 'icomoon' !important;
        color: $speco-green;
        font-size: 4.625rem;
        line-height: 4.625rem;
        position: absolute;
        left: calc(50% - 37px);
        top: -25px;

        @include from-medium() {
            font-size: 5.625rem;
            line-height: 5.625rem;
            left: calc(50% - 2.8125rem);
            top: -2.375rem;
        }
    }
    .icon-icon-vision:before {
        content: '\e904';
    }
}
.healthcare-info {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1.8rem auto;

    @include from-medium() {
        margin: 2rem auto;
    }
}
