@import '../../styling';

.introduction-header {
    text-align: center;
    position: relative;
    background-color: $speco-white;
    padding: 1rem 0;
    border-radius: 2rem;
    margin: 3rem auto 0;

    @include from-medium() {
        margin: 8rem auto 0;
    }

    .brief-vision {
        padding: 0 2.5rem;
        h3 {
            font-size: 3rem;
            margin: 5rem 0 0;
            font-weight: 600;
        }
        .summary {
            font-size: 1.8rem;
            margin-top: 0.5rem;
        }
    }

    .icon-icon-vision {
        font-family: 'icomoon' !important;
        color: $speco-green;
        font-size: 7.4rem;
        line-height: 7.4rem;
        position: absolute;
        left: calc(50% - 37px);
        top: -25px;

        @include from-medium() {
            font-size: 9rem;
            line-height: 9rem;
            left: calc(50% - 4.5rem);
            top: -3.8rem;
        }
    }
    .icon-icon-vision:before {
        content: '\e904';
    }
}
.healthcare-info {
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem auto 1rem;


    @include from-medium() {
        margin: 7rem auto 1rem;
    }
}
