@import '../../styling/media-queries.scss';

.header {
    font-size: 34px;
}

.user-list {
    display: flex;
    justify-content: space-around;
}

.navigation{
    display: flex;
    justify-content: space-around;
    margin: 5rem 0;
}