@import '../../styling/media-queries.scss';

.user-list {
    display: flex;
    justify-content: space-around;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
