@import '../../styling';

.PhoneInput {
    padding: 1.4rem 0;
    border: $speco-option-border;
    border-radius: 1.5rem;
    width: 95%;
    margin: 0 auto;
    input {
        font-size: 1.8rem;
        border: none;
        margin-left: 1rem;
    }

    input:focus-visible {
        outline: none;
    }

    .PhoneInputCountryIcon {
        width: 2.5rem;
        height: 2rem;
        box-shadow: none;
        margin: 0 1rem;
    }

    .PhoneInputCountrySelectArrow {
        width: 0.5rem;
        height: 0.5rem;
        opacity: 1;
    }
}
