@import '../../styling/media-queries.scss';
@import '../../styling/colors.scss';

.User {
    display: flex;
    flex-direction: column;
    width: 40vw;
    .icon-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'icomoon' !important;
        border-radius: 2rem;
        border: 0.2rem solid #cddbec;
        font-size: 9rem;
        padding: 2rem;

        @include from-small() {
            font-size: 11rem;
            max-width: 19rem;
            max-height: 19rem;
        }

        @include from-medium() {
            font-size: 13rem;
            max-width: 21rem;
            max-height: 21rem;
        }
    }

    .icon-container.selected {
        border-color: $speco-green;
        background-image: url("../../assets/images/icons/icon-checked-circle.svg");
        background-position: right 10px top 10px;
        background-repeat: no-repeat;
    }
    .user-title {
        font-size: 18px;
        text-align: center;
    }
}
