@import '../../styling/';

.Option {
    border: $speco-option-border;
    border-radius: 1rem;
    width: 95%;
    margin: 0 auto;
    font-size: 1.1rem;
}

.Option + .Option {
    margin-top: 1rem;
}

.Option.single-choice-selection {
    border: 2px solid $speco-green;
    background-image: url('../../assets/images/icons/icon-checked-circle.svg');
    background-position: top 50% right 5px;
    background-repeat: no-repeat;
}

.Option.multiple-choice-selection {
    border: 2px solid $speco-green;
}
