@import '../../styling';

.MultipleYesNoChoiceForm {
    display: flex;
    flex-direction: column;

    .container-label {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .toggle-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .switch-toggle {
        color: whitesmoke;
        font-size: 1rem;
        font-weight: 500;
    }
}
