@import '../../styling/colors.scss';

.BackButton {
    color: white;
    text-decoration: none;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'icomoon' !important;
        background: $speco-grey;
        color: black;
        border-radius: 50%;
        font-size: 1.56rem;
        width: 3.5rem;
        height: 3.5rem;
        padding: 0 1.56rem;
        margin: 0 auto;
    }

    div::before {
        content: "\e900";
    }

    div.disabled {
        background-color: $speco-light-violet;
    }
}

