@import '../../styling';

.DefaultMultipleChoiceForm {
    padding: 1.4rem 0;

    .checkbox {
        width: 100%;
        display: flex;
        align-items: center;
        input {
            height: 20px;
            width: 20px;
            margin: 1rem;
            position: relative;
        }
        input:checked {
            height: 20px;
            width: 20px;
            margin: 1rem;
            position: relative;
        }

        input:checked::before {
            content: '\2713';
            display: grid;
            place-items: center;
            font-size: 15px;
            background-color: $speco-green;
            color: $speco-white;
            height: 20px;
            width: 20px;
        }
    }
}
