@import "../../styling/media-queries.scss";

.Survey {
    @include from-medium() {
        padding: 0 5vw;
    }

    .header {
        font-size: 34px;
        font-weight: bolder;
        line-height: 44px;
    }

    .user-list {
        display: flex;
        justify-content: space-evenly;
    }
}
