@import '../../styling/media-queries.scss';

.Header {
    margin: 1rem auto;
    padding: 3rem 0;
    width: 35rem;
    max-width: 22rem;
    @include from-medium() {
        max-width: 30rem;
    }

    @include from-large() {
        max-width: 35rem;
    }
}
