@import "../../styling/media-queries.scss";

.Header {
    margin: 11px auto 11.9px auto;
    padding: 30px 0 31px;
    img {
        width: 350.8px;
        max-width: 220px;
        @include from-medium() {
            max-width: 270px;
        }
    }
}
