@import '../../styling/media-queries.scss';

.Header {
    margin: 2rem auto;
    width: 21.875rem;
    max-width: 13.75rem;
    @include from-medium() {
        max-width: 18.75rem;
    }

    @include from-large() {
        max-width: 21.875rem;
    }
}
