@import '../../styling/colors.scss';

.Email{
    padding: 1rem 0;
    border: 2px solid $speco-light-blue;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    input {
        font-size: 20px;
        border: none;
        width: 95%;
    }

    input:focus-visible {
        outline: none;
    }

}