@import "./styling/media-queries.scss";

.App {
    text-align: center;
    width: 90%;
    margin: 0 auto;

    @include from-small() {

    }

    @include from-medium(){
        width: 80%;
    }

    @include from-large(){
        width: 60%;
    }

    @include from-extra-large(){
        width: 55%;
    }

    .doctor-icon:before {
        content: "\e901";
    }

    .patient-icon:before {
        content: "\e902";
    }

    .doctor-icon.selected:before,
    .patient-icon.selected:before {
        color: #62B246;
    }
}
