@import "./styling/media-queries.scss";
@import "./styling/colors.scss";

.App {
    text-align: center;
    width: 95%;
    margin: 0 auto;

    @include from-small(){
        width: 90%;
    }

    @include from-medium(){
        width: 70%;
    }

    @include from-large(){
        width: 60%;
    }

    @include from-extra-large(){
        width: 30%;
    }

    .doctor-icon:before {
        content: "\e901";
    }

    .patient-icon:before {
        content: "\e902";
    }

    .doctor-icon.selected:before,
    .patient-icon.selected:before {
        color: $speco-green;
    }
}
