body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}
@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icons/icomoon.ttf?65ysi5') format('truetype'),
        url('./assets/fonts/icons/icomoon.woff?65ysi5') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}